<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer">
    <footer id="footer">
        <div class="copyright">
            &copy; 2025. Tnbin847 All rights reserved. 
        </div>
        <nav class="fnb">
            <ul>
                <li class="fnb-item"><a href="" role="link" target="_blank" class="icon-github-circled"></a></li>
                <li class="fnb-item"><a href="" role="link" target="_blank" class="icon-instagram"></a></li>
                <li class="fnb-item"><a href="" role="link" target="_blank" class="icon-mail"></a></li>
            </ul>
        </nav>
    </footer>
</th:block>
</html>