<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headLib">
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- 공통 스타일 시트 -->
    <link rel="stylesheet" href="/css/common/libs/fontello/css/fontello.css">
    <link rel="stylesheet" href="/css/common/reset.css">
    <link rel="stylesheet" href="/css/common/variables.css">
    <link rel="stylesheet" href="/css/common/layout.css">
    <link rel="stylesheet" href="/css/common/contents.css">
    <link rel="stylesheet" href="/css/common/components.css">
    <link rel="stylesheet" href="/css/common/helper.css">
</th:block>
</html>