@charset "UTF-8";

/** UI 요소 & 폼 요소 및 폼 내부 레이아웃에 대한 스타일 */
/*! EASY-WORKS v1.0.0 | copyright 2025. 박수빈 all right reserved. | https://github.com/tnbin847/ews */

:root {
    /* === 이미지 === */
    --img-xs: %;
    --img-sm: %;
    --img-md: %;
    --img-lg: %;
    --img-xl: %;

    /* === 패널 === */
    --panel-v-padding: var(--spacing-xl);
    --panel-h-padding: var(--spacing-lg);
    --panel-border-width: var(--border-width-sm);
    --panel-background: var(--color-white);
    --panel-heading-primary: var(--font-heading-primary);
    --panel-heading-secondary: var(--font-heading-secondary);
    

    /* === 테두리 === */
    --rounded-field: var(--border-radius-sm);
    --rounded-component: var(--border-radius-md);
    --rounded-full: var(--border-radius-full);
}


/* =========================================================================
= # 이미지
========================================================================= */
.img {
    display: block;
    width: 100%;
    height: auto;
}

.has-img {
    display: block;
    width: 100%;
    position: relative;
}

.has-img.is-small {
    max-width: 100px;
}

.has-img.is-medium {
    max-width: 250px;
}

.has-img.is-large {
    max-width: 400px;
}


/* =========================================================================
= # 패널
========================================================================= */
.panel-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.panel {
    width: 100%;
    position: relative;
    padding: var(--panel-v-padding) var(--panel-h-padding);
    border-radius: var(--rounded-component);
    border: var(--panel-border-width) solid var(--color-border);
}

.panel > .panel-header {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md) 0px;
}

.panel > .panel-header > .has-img {
    margin-bottom: var(--spacing-2xs);
}

.panel-header > h1.panel-heading-title {
    font-size: var(--text-lg);
    font-family: var(--panel-heading-primary);
}

.panel-header > h2.panel-heading-title {
    font-size: var(--text-md);
    font-family: var(--panel-heading-secondary);
}



























































































































