@charset "utf-8";

/*! ⓒ 2025. subin park all rights reserved. | https://github.com/tnbin847/ews */

/* =======================================================
= 1. css 변수
======================================================= */
:root {

}


/* =======================================================
= 2. 패널
======================================================= */




/* =======================================================
= 3. 탭
======================================================= */




/* =======================================================
= 4. 아이콘
======================================================= */




/* =======================================================
= 5. 버튼
======================================================= */





/* =======================================================
= X. 폼
======================================================= */
/* =============== X-1. 폼 =============== */
.form {
    line-height: 1;
}

/* =============== X-2. 폼 내부 레이아웃 : 공통 =============== */
.field-container, .field {
    width: 100%;
}

/* =============== X-3. 폼 내부 레이아웃 : 폼 필드 =============== */
.field-container {
    display: flex;
    flex-direction: column;
    margin: var(--spacing-md) var(--spacing-none);
}

.field-container.is-grouped {
    flex-direction: row;
}

.field-container:first-child {
    margin-top: var(--spacing-none);
}

.field-container:last-child {
    margin-bottom: var(--spacing-none);
}

.field:not(:last-child) {
    margin-bottom: var(--spacing-field);
}

