@charset "UTF-8";

/** UI 요소 & 폼 요소 및 폼 내부 레이아웃에 대한 스타일 */
/*! EASY-WORKS v1.0.0 | copyright 2025. 박수빈 all right reserved. | https://github.com/tnbin847/ews */
/* =========================================================================
= # CSS 변수                                                                  
========================================================================= */
:root {
    /* === 컨텐츠 이미지 크기 === */
    --img-xs: 32px;
    --img-sm: 80px;
    --img-md: 160px;
    --img-lg: 240px;


    /* === 아이콘 === */
    --icon-scale: 4px;
    --icon-base: 12px;

    --icon-md: calc(var(--icon-scale) + var(--text-sm));
    --icon-lg: calc(var(--icon-scale) + var(--text-md));
    --icon-xl: calc(var(--icon-scale) + var(--text-lg)); 


    /* === 테두리 === */
    --rounded-field: var(--border-radius-sm);
    --rounded-component: var(--border-radius-md);
    --rounded-full: var(--border-radius-full);


    /* === 패널 === */
    --panel-v-padding: var(--spacing-xl);
    --panel-h-padding: var(--spacing-md);
    --panel-heading-primary: var(--font-heading-primary);
    --panel-heading-secondary: var(--font-heading-secondary);
    
}


/* =========================================================================
= # 이미지
========================================================================= */
.img {
    display: block;
    width: 100%;
    height: auto;
}

.has-img {
    display: inline-block;
    position: relative;
    width: 100%;
}

.has-img.is-small {
    max-width: var(--img-sm);
}

.has-img.is-medium {
    max-width: var(--img-md);
}

.has-img.is-large {
    max-width: var(--img-lg);
}


/* =========================================================================
= # 아이콘 
========================================================================= */



/* =========================================================================
= # 패널
========================================================================= */
.panel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.panel-container.is-grouped {
    flex-direction: row;
}

.panel, .panel-header, .panel-body {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.panel {
    padding: var(--panel-v-padding) var(--panel-h-padding);
    border-radius: var(--rounded-component);
    border: var(--border-width-sm) solid var(--color-border);
    background-color: var(--color-white);
}

.panel-header {
    margin-bottom: var(--spacing-unit);
}

.panel-header > .panel-heading-title {
    color: var(--color-dark);
    font-size: var(--text-lg);
}

.panel-header > .panel-heading-subtitle {
    color: var(--color-helper);
    font-size: var(--text-md);
}

.panel-heading-title.is-primary, 
.panel-heading-subtitle.is-primary {
    font-family: var(--panel-heading-primary);
}

.panel-heading-title.is-secondary, 
.panel-heading-subtitle.is-secondary {
    font-family: var(--font-heading-secondary);
}

.panel-body {
    font-family: var(--font-primary);
    font-size: var(--text-base);
    font-weight: var(--font-weight-default);
}


/* =========================================================================
= # 탭
========================================================================= */
