@charset "utf-8";

/*! ⓒ 2025. subin park all rights reserved. | https://github.com/tnbin847/ews */

/* =======================================================
= 1. 웹 폰트 서체
======================================================= */
@font-face {
    font-family: 'Pretendard-Light';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Light.woff'),
         url('/fonts/pretendard/Pretendard-Light.woff2');
}

@font-face {
    font-family: 'Pretendard-Regular';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Regular.woff'),
         url('/fonts/pretendard/Pretendard-Regular.woff2');
}

@font-face {
    font-family: 'Pretendard-Medium';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Medium.woff'),
         url('/fonts/pretendard/Pretendard-Medium.woff2');
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-SemiBold.woff'),
         url('/fonts/pretendard/Pretendard-SemiBold.woff2');
}

@font-face {
    font-family: 'Montserrat-Bold';
    font-display: swap;
    src: url('/fonts/montserrat/Montserrat-Bold.woff'),
         url('/fonts/montserrat/Montserrat-Bold.woff2');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-display: swap;
    src: url('/fonts/montserrat/Montserrat-ExtraBold.woff'),
         url('/fonts/montserrat/Montserrat-ExtraBold.woff2');
}

@font-face {
    font-family: 'Montserrat-Black';
    font-display: swap;
    src: url('/fonts/montserrat/Montserrat-Black.woff'),
         url('/fonts/montserrat/Montserrat-Black.woff2');
}


/* =======================================================
= 2. css 변수
======================================================= */
:root {
    --text-default: var(--color-gray-08);
    --text-primary: var(--color-primary);
    --text-helper: var(--color-gray-06);
    --text-accent: var(--color-accent);

    --font-primary: 'Pretendard-Regular', sans-serif;
    --font-secondary: 'Pretendard-Medium', sans-serif;
    --font-heading-primary: 'Pretendard-SemiBold', sans-serif;
    --font-heading-secondary: 'Montserrat-ExtraBold', sans-serif;

    --font-weight-normal: 600;
}


/* =======================================================
= 3. 텍스트
======================================================= */
/* =============== 3-1. 공통 =============== */
html, body, form {
    font-family: var(--font-primary);
    font-size: var(--text-base-size);
    font-weight: var(--font-weight-normal);
    color: var(--text-default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* =============== 3-2. 색상 =============== */
.is-text-primary {
    color: var(--text-primary);
}

.is-text-helper, .is-link-plain {
    color: var(--text-helper);
}

.is-text-accent, .is-link-accent {
    color: var(--text-accent);
}

/* =============== 3-3. 정렬 =============== */
.has-text-start, .is-text-start {
    text-align: left;
}

.has-text-center, .is-text-center {
    text-align: center;
}

.has-text-end, .is-text-end {
    text-align: right;
}


/* =======================================================
= 4. 이미지
======================================================= */
/* =============== 4-1. 공통 =============== */
.img, .has-img {
    display: block;
    width: 100%;
}

.img {
    height: auto;
}

.has-img {
    position: relative;
}

/* =============== 4-2. 이미지 크기 =============== */
.has-img.is-xsmall {
    max-width: var(--img-xs);
}

.has-img.is-small {
    max-width: var(--img-sm);
}

.has-img.is-medium {
    max-width: var(--img-md);
}

.has-img.is-large {
    max-width: var(--img-lg);
}

.has-img.is-xlarge {
    max-width: var(--img-xl);
}