@charset "utf-8";

/*! ⓒ 2025. subin park all rights reserved. | https://github.com/tnbin847/ews */

/* =======================================================
= 1. 디스플레이
======================================================= */
.is-none {
    display: none;
}

.is-block {
    display: block;
}

.is-inline-block {
    display: inline-block;
}

.is-flex {
    display: flex;
}

.is-inline-flex {
    display: inline-flex;
}


/* =======================================================
= 2. 플렉스박스
======================================================= */
/* =============== 2-1. 수직 정렬 =============== */
.flex-v {
    flex-direction: column;
}

.flex-v.is-start {
    align-items: flex-start;
    justify-content: center;
}

.flex-v.is-middle {
    align-items: center;
}

.flex-v.is-end {
    align-items: flex-end;
    justify-content: center;
}

/* =============== 2-2. 수평 정렬 =============== */
.flex-h {
    flex-direction: row;
}

/* 역 수평 */
.flex-h-reverse {
    flex-direction: row-reverse;
}

.flex-h.is-start, .flex-h-reverse.is-start {
    justify-content: flex-start;
    align-items: center;
}

.flex-h.is-middle, .flex-h-reverse.is-start {
    justify-content: center;
}

.flex-h.is-end, .flex-h-reverse.is-end {
    justify-content: flex-end;
    align-items: center;
}

.flex-h.is-around, .flex-h-reverse.is-around {
    justify-content: space-around;
    align-items: center;
}

.flex-h.is-between, .flex-h-reverse.is-between {
    justify-content: space-between;
    align-items: center;
}

/* =============== 2-3. 정중앙 정렬 =============== */
.flex-v.is-center, .flex-h.is-center, .flex-h-reverse.is-center {
    align-items: center;
    justify-content: center;
}


/* =======================================================
= 3. 그림자
======================================================= */
.shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shadow-smooth {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.shadow-weak {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.shadow-strong {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


/* =======================================================
= 4. 간격
======================================================= */
/* =============== 4-1. 갭(수직/수평/전체) =============== */
.gv-1 {
    gap: var(--spacing-2xs) var(--spacing-none);
}

.gv-2 {
    gap: var(--spacing-unit) var(--spacing-none);
}

.gv-3 {
    gap: calc(var(--spacing-unit) + 6px) var(--spacing-none);
}

.gv-4 {
    gap: var(--spacing-md) var(--spacing-none);
}

.gv-5 {
    gap: var(--spacing-lg) var(--spacing-none);
}

.gh-1 {
    gap: var(--spacing-none) var(--spacing-2xs);
}

.gh-2 {
    gap: var(--spacing-none) var(--spacing-unit);
}

.gh-3 {
    gap: var(--spacing-none) calc(var(--spacing-unit) + 6px);
}

.gh-4 {
    gap: var(--spacing-none) var(--spacing-md);
}

.gh-5 {
    gap: var(--spacing-none) var(--spacing-lg);
}

.g-0 {
    gap: var(--spacing-none);
}

.g-1 {
    gap: var(--spacing-2xs);
}

.g-2 {
    gap: var(--spacing-unit);
}

.g-3 {
    gap: calc(var(--spacing-unit) + 6px);
}

.g-4 {
    gap: var(--spacing-md);
}

.g-5 {
    gap: var(--spacing-lg);
}

/* =============== 4-2. 패딩(좌/우/수평/전체) =============== */
.ps-0 {
    padding-left: var(--spacing-none);
}

.ps-1 {
    padding-left: var(--spacing-2xs);
}

.ps-2 {
    padding-left: var(--spacing-unit);
}

.ps-3 {
    padding-left: calc(var(--spacing-unit) + 6px);
}

.ps-4 {
    padding-left: var(--spacing-md);
}

.ps-5 {
    padding-left: var(--spacing-lg);
}

.pe-0 {
    padding-right: var(--spacing-none);
}

.pe-1 {
    padding-right: var(--spacing-2xs);
}

.pe-2 {
    padding-right: var(--spacing-unit);
}

.pe-3 {
    padding-right: calc(var(--spacing-unit) + 6px);
}

.pe-4 {
    padding-right: var(--spacing-md);
}

.pe-5 {
    padding-right: var(--spacing-lg);
}

.ph-0 {
    padding-left: var(--spacing-none);
    padding-right: var(--spacing-none);
}

.ph-1 {
    padding: var(--spacing-none) var(--spacing-2xs);
}

.ph-2 {
    padding: var(--spacing-none) var(--spacing-unit);
}

.ph-3 {
    padding: var(--spacing-none) calc(var(--spacing-unit) + 6px);
}

.ph-4 {
    padding: var(--spacing-none) var(--spacing-md);
}

.ph-5 {
    padding: var(--spacing-none) var(--spacing-lg);
}

.p-0 {
    padding: var(--spacing-none);
}

.p-1 {
    padding: var(--spacing-2xs);
}

.p-2 {
    padding: var(--spacing-unit);
}

.p-3 {
    padding: calc(var(--spacing-unit) + 6px);
}

.p-4 {
    padding: var(--spacing-md);
}

.p-5 {
    padding: var(--spacing-lg);
}

/* =============== 4-3. 마진(상/하/수직) =============== */
.mt-0 {
    margin-top: var(--spacing-none);
}

.mt-1 {
    margin-top: var(--spacing-2xs);
}

.mt-2 {
    margin-top: var(--spacing-unit);
}

.mt-3 {
    margin-top: calc(var(--spacing-unit) + 6px);
}

.mt-4 {
    margin-top: var(--spacing-md);
}

.mt-5 {
    margin-top: var(--spacing-lg);
}

.mb-0 {
    margin-bottom: var(--spacing-none);
}

.mb-1 {
    margin-bottom: var(--spacing-2xs);
}

.mb-2 {
    margin-bottom: var(--spacing-unit);
}

.mb-3 {
    margin-bottom: calc(var(--spacing-unit) + 6px);
}

.mb-4 {
    margin-bottom: var(--spacing-md);
}

.mb-5 {
    margin-bottom: var(--spacing-lg);
}

.mv-0 {
    margin-top: var(--spacing-none);
    margin-bottom: var(--spacing-none);
}

.mv-1 {
    margin: var(--spacing-2xs) var(--spacing-none);
}

.mv-2 {
    margin: var(--spacing-unit) var(--spacing-none);
}

.mv-3 {
    margin: calc(var(--spacing-unit) + 6px) var(--spacing-none);
}

.mv-4 {
    margin: var(--spacing-md) var(--spacing-none);
}

.mv-5 {
    margin: var(--spacing-lg) var(--spacing-none);
}