@charset "UTF-8";

/** 웹 사이트 내의 텍스트 스타일 */
/*! EASY WORKS v1.0.0 | copyright 2025. 박수빈(tnqls847) all right reserved. | https://github.com/tnbin847/ews */

/* ========================================
=   # 웹 폰트
======================================== */
/* === 본문 글꼴 === */
@font-face {
    font-family: 'Pretendard-Regular';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Regular.woff'),
         url('/fonts/pretendard/Pretendard-Regular.woff2');
}

@font-face {
    font-family: 'Pretendard-Medium';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Medium.woff'),
         url('/fonts/pretendard/Pretendard-Medium.woff2');
}

/* === 타이틀 폰트 === */
@font-face {
    font-family: 'Pretendard-SemiBold';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-SemiBold.woff'),
         url('/fonts/pretendard/Pretendard-SemiBold.woff2');
}

@font-face {
    font-family: 'Montserrat-Bold';
    font-display: swap;
    src: url('/fonts/montserrat/Montserrat-Bold.woff'),
         url('/fonts/montserrat/Montserrat-Bold.woff2');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-display: swap;
    src: url('/fonts/montserrat/Montserrat-ExtraBold.woff'),
         url('/fonts/montserrat/Montserrat-ExtraBold.woff2');
}

@font-face {
    font-family: 'Montserrat-Black';
    font-display: swap;
    src: url('/fonts/montserrat/Montserrat-Black.woff'),
         url('/fonts/montserrat/Montserrat-Black.woff2');
}


/* ========================================
=   # CSS 변수
======================================== */
:root {
    /* === 텍스트 색상 === */
    --color-text: var(--dark);
    --color-text-primary: var(--primary);
    --color-text-secondary: var(--secondary);
    --color-text-accent: var(--accent);
    
    --color-heading-title: var(--dark);
    --color-heading-subtitle: var(--helper);
    


    /* === 폰트 스타일 === */
    --font-primary: 'Pretendard-Regular', sans-serif;
    --font-secondary: 'Pretendard-Medium', sans-serif;
    --font-heading-primary: 'Pretendard-SemiBold', sans-serif;
    --font-heading-secondary: 'Montserrat-Bold', sans-serif;

    --font-weight-default: 600;
}


/* ========================================
=   # 공통
======================================== */
html, body, form {
    --webit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-default);
    font-size: var(--text-base);
    color: var(--color-text);
}


/* ========================================
=   # 텍스트 정렬
======================================== */
.is-text-start {
    text-align: left;
}

.is-text-end {
    text-align: right;
}

.is-text-center {
    text-align: center;
}


/* ========================================
=   # 텍스트 색상
======================================== */
.is-text-primary {
    color: var(--color-text-primary);
}

.is-text-secondary {
    color: var(--color-text-secondary);
}

.is-text-accent {
    color: var(--color-text-accent);
}