@charset "UTF-8";

/** 웹 사이트 내의 텍스트와 관련된 스타일 */
/*! EASY-WORKS v1.0.0 | copyright 2025. 박수빈 all right reserved. | https://github.com/tnbin847/ews */

@font-face {
    font-family: 'Pretendard-Regular';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Regular.woff'),
         url('/fonts/pretendard/Pretendard-Regular.woff2');
}

@font-face {
    font-family: 'Pretendard-Medium';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Medium.woff'),
         url('/fonts/pretendard/Pretendard-Medium.woff2');
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-SemiBold.woff'),
         url('/fonts/pretendard/Pretendard-SemiBold.woff2');
}


@font-face {
    font-family: 'Montserrat-Bold';
    font-display: swap;
    src: url('/fonts/montserrat/Montserrat-Bold.woff'),
         url('/fonts/montserrat/Montserrat-Bold.woff2');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-display: swap;
    src: url('/fonts/montserrat/Montserrat-ExtraBold.woff'),
         url('/fonts/montserrat/Montserrat-ExtraBold.woff2');
}

@font-face {
    font-family: 'Montserrat-Black';
    font-display: swap;
    src: url('/fonts/montserrat/Montserrat-Black.woff'),
         url('/fonts/montserrat/Montserrat-Black.woff2');
}


:root {
    /* === 텍스트 색상 === */
    --text-primary: var(--color-gray-800);
    --text-secondary: var(--color-dark);

    /* === 타이포그래피 === */
    --font-primary: 'Pretendard-Regular', sans-serif;
    --font-secondary: 'Pretendard-Medium', sans-serif;
    --font-heading-primary: 'Pretendard-SemiBold', sans-serif;
    --font-heading-secondary: 'Montserrat-ExtraBold', sans-serif;
    
    /* === 기타 === */
    --font-weight-default: 600;
}


/* =========================================================================
= # 공통                                                                  
========================================================================= */
html, body {
    --webit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-size: var(--text-size-base);
    font-weight: var(--font-weight-default);
}


/* =========================================================================
= # 텍스트 정렬                                                                  
========================================================================= */
.is-text-start {
    text-align: left;
}

.is-text-end {
    text-align: right;
}

.is-text-center {
    text-align: center;
}


/* =========================================================================
= # 텍스트 색상                                                                  
========================================================================= */
.is-text-primary {
    color: var(--color-primary);
}

.is-text-secondary {
    color: var(--color-secondary);
}

.is-text-accent {
    color: var(--color-accent);
}

.is-text-helper {
    color: var(--color-helper);
}
