<!DOCTYPE html>
<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title layout:title-pattern="$LAYOUT_TITLE :: $CONTENT_TITLE">이지웍스</title>

    <th:block th:replace="~{common/layout/fragments/head_lib :: headLib}"/>
</head>
<body>
    <div id="webpage">
        <div id="container" class="flex-v is-center">
            <th:block layout:fragment="content"/>
        </div>
    </div>
    <th:block th:replace="~{common/layout/fragments/script :: script}"/>
    <th:block layout:fragment=""></th:block>
</body>
</html>