<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$LAYOUT_TITLE :: $CONTENT_TITLE">이지웍스</title>
    <th:block th:replace="~{common/layout/fragments/head_lib :: headLib}"/>
</head>
<body>
    <div id="webpage">
        <div id="container" class="flex-v is-center">
            <th:block layout:fragment="content"/>
        </div>

        <footer th:replace="~{common/layout/fragments/footer :: footer}"></footer>
    </div>

    <!-- 공통 자바스크립트 -->
    <th:block th:replace="~{common/layout/fragments/script :: script}"/>
    <!-- 페이지별 자바스크립트 -->
    <th:block layout:fragment="pageScript"/>
</body>
</html>