<footer th:fragment="footer" id="footer">
    <p class="copyright">&copy; 2025. <i class="is-text-primary">tnqls3718</i> All rights reserved.</p>
    <nav class="fnb">
        <ul>
            <li class="fnb-item"><a href="#" target="_blank" class="icon icon-github-squared"></a></li>
            <li class="fnb-item"><a href="#" target="_blank" class="icon icon-instagram"></a></li>
            <li class="fnb-item"><a href="#" target="_blank" class="icon icon-facebook-squared"></a></li>
        </ul>
    </nav>
</footer>