<footer th:fragment="footer" id="footer">
    <span class="copyright">&copy; 2025. <i class="is-text-primary">tnbin847</i> all right reserved.</span>
    <nav class="fnb">
        <ul class="is-flex flex-h is-space-between">
            <li class="fnb-item"><a href="#" target="_blank" class="icon-github-squared"></a></li>
            <li class="fnb-item"><a href="#" target="_blank" class="icon-instagram"></a></li>
            <li class="fnb-item"><a href="#" target="_blank" class="icon-facebook-squared"></a></li>
        </ul>
    </nav>
</footer>
